@using Duende.IdentityServer.Extensions
@{
    string? name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User.GetDisplayName();
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ukraine Identity</title>
    <link href="~/dist/css/bundle.min.css" asp-append-version="true" rel="stylesheet" />
    @await RenderSectionAsync("styles", required: false)
</head>
<body>

    <div class="menu d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom box-shadow">
        @if (User.Identity?.IsAuthenticated == true && !string.IsNullOrEmpty(name))
        {
            <a class="menu-item my-2 btn btn-outline-primary" asp-action="Logout" asp-controller="Account">Logout</a>
        }
    </div>

    <div class="container">
        @RenderBody()
    </div>

    <script src="~/dist/js/bundle.min.js" asp-append-version="true"></script>

    @await RenderSectionAsync("scripts", required: false)
</body>
</html>