<RuleSet Name="Ukraine Rules"  ToolsVersion="15.0">
    <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
        <Rule Id="SA1128" Action="None" />
        <Rule Id="SA1502" Action="None" />
        <Rule Id="SA1633" Action="None" />
        <Rule Id="SA1309" Action="None" />
        <Rule Id="SA1101" Action="None" />
        <Rule Id="SA1413" Action="None" />
        <Rule Id="SA1310" Action="None" />
    </Rules>
</RuleSet>