@model Ukraine.Services.Identity.ViewModels.Account.LoginInputViewModel

<div>
    <h1>Login</h1>

    @await Html.PartialAsync("_ValidationSummary")

    <form asp-route="Login">
        <input type="hidden" asp-for="ReturnUrl" />
        <input placeholder="Username" asp-for="Username" aria-label="Username" aria-describedby="input-username">
        <input placeholder="Password" asp-for="Password" type="password" aria-label="Password" aria-describedby="input-password" autocomplete="off">
        <div>
            Remember me
            <input asp-for="RememberLogin" type="checkbox">
        </div>
        <button name="button" value="login">Login</button>
    </form>
</div>